.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 889px;
}
.header-link {
  color: var(--font-primary-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  position: relative;
  text-decoration: none;
}
.header-link:hover {
  color: #b90a2c;
}

.active-link {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background: #c20a2c;
  height: 12px;
  width: 5px;
}
.menu-icon {
  color: var(--font-primary-color);
  cursor: pointer;
}
