* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
:root {
  --font-primary-color: #ffffff;
  --font-secondary-color: #1a191d;
}

@media (max-width: 1199.98px) {
  .header .logo {
    order: 2;
  }
  .header .menu-icon {
    order: 1;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 889px;
}
.header-link {
  color: var(--font-primary-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  position: relative;
  text-decoration: none;
}
.header-link:hover {
  color: #b90a2c;
}

.active-link {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background: #c20a2c;
  height: 12px;
  width: 5px;
}
.menu-icon {
  color: var(--font-primary-color);
  cursor: pointer;
}
/* burger */
#menuToggle {
  display: block;
  position: relative;
  z-index: 50;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #b90a2c;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -20px;
  padding: 50px;
  padding-top: 150px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-200%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 20px 0;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
